*{
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #31A24C !important;
    border-color: #31A24C !important;
}

.btn-primary:hover{
    background-color: #31934C !important;
    border-color: #31934C !important;
}

.tbl-features td{
    line-height: 25px !important;
}

.margin-bottom-1em{
    margin-bottom:1em;
}

.width-30-percent{
    width:30%;
}

.margin-1em-zero{
    margin:1em 0;
}

.width-30-percent{
    width:30%;
}

.width-70-percent{
    width:70%;
}

.photo-thumb{
    width:214px;
    height:214px;
    float:left;
    border: thin solid #d1d1d1;
    margin:0 1em 1em 0;
}

div#blueimp-gallery div.modal {
    overflow: visible;

}
.navbar a {
    margin-top: 20px !important;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 40px;
    padding: 40px 0px 20px 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.login-title
{
    color: #555;
    font-size: 22px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-img
{
    border-radius: 50%;
    display: block;
    height: 75px;
    margin: 0 30px 10px;
    width: 75px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.select-name
{
    display: block;
    margin: 30px 10px 10px;
}

.logo-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.margin-top-40{
    margin-top:40px;
}

.text-align-center{
    text-align:center;
}

div.gallery {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

div.gallery:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.gallery img {
width: 100%;
height: 300px;
object-fit: cover;
}

div.desc {
padding: 15px;
text-align: center;
}
.product-container, .signup-container,.container-testimonial {
margin: 70px 0 40px;
}

.card-body{
    padding: 15px;
}

.container-testimonial .card-title{
margin-top: 10px;
}
* {
box-sizing: border-box;
}

.responsive {
padding: 10px 6px !important;
}

.btn-login{
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 25px;
    outline: none;
    margin-top: 10px;
}

.btn-google{
display: block;
width: 100%;
height: 50px;
border-radius: 25px;
outline: none;
color: black;
border: 2px solid #31A24C;
color: #31A24C;
margin: 1rem 0;
cursor: pointer;
transition: .5s;
background: url('https://img.icons8.com/color/48/000000/google-logo.png') #f2f2f2;
background-position: left;	
background-repeat: no-repeat;
background-size: 40px 40px;
background-color: #fff;
}

.google{
width: 30px;
height: 30px;
}

.btn-google:hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.title, .container-testimonial .title {
font-size:40px;
}

.sub-title{
    font-size:30px;
}

.container-testimonial .img-container{
width: 100%;
display: flex;
justify-content: center;
}

.container-testimonial .card-title{
text-align: center;
}

.swiper {
    width: 100%;
    height: 500px;
  }
  .swiper-button-prev, .swiper-button-next {
      color: #8D8D8D !important;
  }

  .swiper-button-prev {
}

.img-thumbnail{
border: none !important;
}

.fa-check {
    color: #31A24C;
}

.fa-times {
    color: #DC3545;
}

.card-text{
font-size: 18px;
}


#or {
display:flex;
justify-content:center;
align-items: center;
color:grey;
margin-top: 10px;
}

#or:after,
#or:before {
content: "";
display: block;
background: #E7E7E7;
width: 50%;
height:1px;
margin: 0 10px;
}

footer {
padding: 20px;
background: #222222;
bottom: 0px;
}

.container-testimonial p {
font-size: 17px;
}

#btn-scroll-up {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 23px;
border: none;
outline: none;
background-color: #222222;
color: white;
cursor: pointer;
padding: 5px 15px 5px 15px;
border-radius: 4px;
}

#btn-scroll-up {
background-color: #555;
}

.navbar-brand {
    padding: 0px; /* firefox bug fix */
  }
  .navbar-brand img{
    height: 40px;
    width: 40px;
    margin-top: -20px !important;
  }

  .navbar-collapse a {
    margin-top: 10px !important;
  }

  